<div class="container" style='padding-top:100px;'>
  <div class="row">
    <div class="col-10 offset-1">
      <div class="f-cards">
        <% @marks.each do |mark| %>
          <div class="f-card mt-2" style="background-image: url(<%= mark.movie.poster_url %>)">
            <div class="f-card-info">
              <h3 style="color:#fcf9e0"><strong><%= mark.movie.title %></strong></h3>
              <i class="fas fa-star star-yellow"></i>
              <h5><%= mark.movie.rating %></h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="back-btn">
      <%= link_to root_path do %>
        <i class="fas fa-fast-backward"></i>
      <% end %>
  </div>
  </div>
</div>




