<div class="fullbg-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80);">
  <div class="fullbg-container">
    <h1>Movie List <strong>brings you the chill</strong>!</h1>
    <h4 class="typed-js"></h4>
    <br>
    <%= link_to "Add a new list", new_list_path, class: "btn btn-primary btn-position" %>
 </div>
</div>




