<%= simple_form_for themovie.bookmark do |f| %>
  <div id="rating-bar" class="br-wrapper br-theme-css-stars">
    <select class="bar-rating">
      <option value=""></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <%= f.input :comment, as: :text, :input_html => { class: 'test', :rows => 3 } %>
  <%= f.submit "Add/Edit review", class: "btn btn-primary" %>
<% end %>
