.fullbg-banner {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  // min-height: 500px;
  & .fullbg-container {
    padding-top: 35vh;
    padding-left: 10vw;
    color: white;
  }
  & h4 {
    opacity: 0.8;
  }

  & .btn-position {
    position: absolute;
    top: 60vh;
  }
}

.list-banner {
  max-height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.list-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
  font-weight: bold;
}

// .list-banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }
